
@mixin opensans {
   font-family: 'Droid Arabic Naskh', serif;
}

h1, h2, h3, h4, h5 {
   @include opensans;
   font-weight: 700;
}

p, span {
   @include opensans;
}

.btn, .copyright {
   @include opensans;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}
