@import "lib/neat/neat-helpers";
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://fonts.googleapis.com/css?family=Lato");


$almost_white: #f5f5f5;
$very_light_gray: #eeeeec;
$lighter_gray: #dedede;
$gray: #6e6f6e;
$dark_gray: #4f4f4f;

$darker_gray: #3f3f3f;
$black: #1f1f1f;

$green: #58B86F;
$light_green: #F7F3B2;

$yellow: #F4CB89;
$blue: #588C8C;
$dark_blue: #011C26;

$header_height: 40em;

$twitter: #55ACEE;
$facebook: #3B5998;

//$footer_bg: #5A5F64;

$dark_red: #6B0C22;
$red: #D9042B;
$footer_bg: $orange;

// Grid
$column: 70px;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1000);

$sans-serif: 'Montserrat', sans-serif;
// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
