<section class="blue e403 section">
  <div class="ui three column center aligned stackable page grid">
    <div class="four wide column"></div>
    <div class="eight wide column">

      <h1>403</h1>
      <h2><%= t(:access_denied) %></h2>
    </div>
    <div class="four wide column"></div>
  </div>
</section>
