<section class="blue section">
  <div class="ui stackable page grid">
    <% @episodes.each do |ep| %>
      <div class="column"><a href="/podcasts/<% ep.id %>"><div class="ui segment"><h2><%= ep.title %></h2></div></a></div>
    <% end %>
  </div>
</section>
