<section class="gray section" style="padding-top: 10em;">
  <div class="ui two column stackable page grid">
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui huge header">
          <%= t(:donation) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <p>
          <%= t(:donate_in_iran) %>
        </p>
      </div>

      <div class="column">
        <p>
          <%= t(:donate_paypal) %>
        </p>
        <br />
        <br />
        <p class="center aligned text" style="text-align:center;">

          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align:center;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHiAYJKoZIhvcNAQcEoIIHeTCCB3UCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAsZOT57IkktEzcSTruYJnijLKM2x9+Uzm/r27dyy3xrfDWTUSyzjhOu3Y0378dzQAVf7V1QaPE6+xY0aItTfn1xU2j+utvXWnnDobA5IAXEXNAYVlKbiNe1TU+Y+NQsMnPko6aRk4Vw4DiTlQ30lc8tVLhaUdG99VRM8+9Urlm5zELMAkGBSsOAwIaBQAwggEEBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECEzjAXCDDERegIHgrVXSVhAN9m4NEP+ZaTpHmBM7cMZ6cVArACuL8cY/q2kn9SW4J5oqWj3kyQmF21WpHTexMDUsFDWLr2TbMv+NXopObgqZ62DVWI7d0olkD5YV6JxA4ImRgLHNymByfnKe46lj4Q9pHDHTDHBjG8+7mftQowm53kraTNAX6eLklHQn9CUXIyp6Q7hSmmTM4Yxwy9pBvPDOzzTXJzXm5GkgRHwGlW7Zyc+bOyr3jOe78mkaLfQ7BxHWfUaFPwLjuvkWP5boOrsG2uB/eb2DzsKngT10bT9xtJz0mqCNy9DNif6gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTAzMTkxMjM4NTRaMCMGCSqGSIb3DQEJBDEWBBSKdX6jW87c7HsKZktTh60BtWWCfzANBgkqhkiG9w0BAQEFAASBgA7/Q/Wqmc5ePZIvP58Tbgornkt0aCAJX6Q6UJFVBQ32+oh/j/FP4eDqPEEr2O6tgt3P37s7A0Lyn+Z3Kfu0IJeFhUTg6nI6HMKKbPxu3YghIrM8Ng4HKs3H5G0JHPVF60Zxr/N9jm+b9v0iSh1qWuIr11p94ef4Ip6F7HEwDLsY-----END PKCS7-----
            ">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

        </p>
      </div>
    </div>
  </div>
</section>
