<section class="head">
  <header>
    <div class="container">

      <div class="row">
        <div class="column6">
          <nav class="menu center">
            <ul>
              <li><a href="#"><i class="fa fa-user"></i> <%= t(:home) %></a></li>
              <li><a class="js-menu-trigger" href="#"><i class="fa fa-user"></i> <%= t(:archive) %></a></li>
              <li><a href="#"><i class="fa fa-user"></i> <%= t(:faq) %></a></li>
            </ul>
          </nav>
        </div>

        <div class="column6  title">
          <h1 class="logo">RadioBoot</h1>
        </div>
      </div>
    </div>
  </header>

  <div class="mainsection container">

    <div class="row">
      <div class="column5 shift1 box">
        <h2 class="center">podcast title</h2>
        <br />
      </div>
      <div class="column5 box">
        asdfsdfsdf
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="column6 text-left"></div>
        <div class="column6 text-right"><%= t(:copyright) %></div>
      </div>
    </div>
  </div>

</section>
