<section class="head">

  <div class="container">
    <header>
      <div class="row">
        <div class="column1 menu">
          <a href="#" class="js-menu-trigger sliding-menu-button"><i class="fa fa-bars fa-lg"></i></a>
        </div>

        <div class="column4 shift3 title center">
          <h1 class="logo">RadioBoot</h1>
        </div>
      </div>
    </header>

  </div>

</section>
