<section class="head">

  <div class="container">
    <header>
      <div class="row">
        <div class="column1 menu">
          <a href="#" class="js-menu-trigger sliding-menu-button"><i class="fa fa-bars fa-lg"></i></a>
        </div>

        <div class="column4 shift3 title center">
          <h1 class="logo">RadioBoot</h1>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="player column6 shift3">
        <h2>podcast title</h2>
        <br />
        <div class="column10">
          <div class="progress-bar-indication">
            <span class="meter" style="width: 60%">
              <p>60%</p>
            </span>
          </div>
        </div>
        <div class="column1">
          <span class="tooltip-item">
            <i class="fa fa-play fa-2x fa-flip-horizontal"></i>
            <div class="tooltip">
              <p>
                <%= t(:play)%>
              </p>
            </div>


          </span>
        </div>

        <div class="column1">
          <span class="tooltip-item">
            <i class="fa fa-download fa-2x"></i>
            <div class="tooltip">
              <p>
                <%= t(:download)%>
              </p>
            </div>

          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column8 shift2 details">
        asdfsdfsdf
      </div>
    </div>

</section>
