<section class="blue signin section">
  <div class="ui three column center aligned stackable page grid">
    <div class="four wide column"></div>
    <div class="eight wide column">

      <div class="ui  segment">
        <div class="ui vertically divided four column grid">

          <div class="center aligned row">
            <div class="ui wide fluid column">
              <p><%= t(:signin) %></p>
            </div>
          </div>

          <div class="row">
            <div class="column"><a class="ui big link" href="/auth/facebook/"><i class="huge facebook icon"></i></a></div>
            <div class="column"><a class="ui big link" href="/auth/twitter/"><i class="huge twitter icon"></i></a></div>
            <div class="column"><a class="ui big link" href="/auth/google/"><i class="huge google plus icon"></i></a></div>
            <div class="column"><a class="ui big link" href="/auth/github/"><i class="huge github icon"></i></a></div>
          </div>
        </div>
      </div>

    </div>
    <div class="four wide column"></div>
  </div>
</section>
