<section class="gray section" style="padding-top: 10em;">
  <div class="ui three column stackable page grid">
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui huge header">
          <%= t(:sponsorship) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui segment">
          <div class="ui header">

          </div>

        </div>
      </div>
      <div class="column">
        <div class="ui segment">

        </div>
      </div>
      <div class="column">
        <div class="ui segment">

        </div>
      </div>
    </div>
  </div>
</section>
